.test {
  border-radius: 5px;
  align-content: center;
  justify-content: center;
  display: flex;
  padding: 25px;
}

.inputField {
  padding: 5px
}

.card {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #1976d2 60px, white 0px);
}