{% extends 'layouts/main.html' %}
{% block content %}

    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row text-center">
                <!-- Message flashing -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div id="hide-message" class="alert alert-{{category}} flashed-messages" role="alert">{{message}}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Estimate Your Food's Macronutrients Here!...</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <a class="btn btn-primary btn-xl" href="{{ url_for('upload_photo') }}">Snap My Nutrition</a>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">At Your Service</h2>
            <hr class="divider" />
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><span class="bi bi-laptop bi-icon"></span></div>
                        <h3 class="h4 mb-2">Ease of Use</h3>
                        <p class="text-muted mb-0">Designed to Make Estimating Your Food Macro-nutrients Easy and Streamlined</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><span class="bi bi-envelope bi-icon"></span></div>
                        <h3 class="h4 mb-2">Feedback or Issues</h3>
                        <p class="text-muted mb-0">Please email us! <a href="mailto: example@me.com">example@me.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


